<app-header [title]="pageTitle"></app-header>

<ion-content>

  <form [formGroup]="submitFormService" (ngSubmit)="onSubmit(submitFormService)">
    <ion-item-group>
      <ion-item-divider class="ion-margin-top">
        <ion-label>Informacion Asociacion</ion-label>
      </ion-item-divider>

        <ion-list>
          <ion-list-header>Seleccione un servicio</ion-list-header>
          <ion-item>
            <ion-label>Servicio:</ion-label>
            <ion-select placeholder="seleccione uno">
              <ion-select-option [value]="service.id" *ngFor="let service of typeOfServices">{{service.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

      <ion-item>
        <ion-label position="stacked" color="primary">Nombre de la compania</ion-label>
        <ion-input formControlName="name" type="text" class="bg-input" clearInput></ion-input>
      </ion-item>
      <ion-item *ngIf="fControls.name.invalid && this.isSubmitted" lines="none">
        <p class="error-danger">Ingresar nombre de la compania</p>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Pais</ion-label>
        <ion-select (ionChange)="getRegionsByCountry($event)">
          <ion-select-option [value]="country.id" *ngFor="let country of countries">{{country.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Region</ion-label>
        <ion-select formControlName="regionId">
          <ion-select-option [value]="region.id" *ngFor="let region of regions">{{region.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="fControls.regionId.invalid && this.isSubmitted" lines="none">
        <p class="error-danger">Ingresar la region</p>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Localidad</ion-label>
        <ion-input formControlName="location" type="text" class="bg-input" clearInput></ion-input>
      </ion-item>
      <ion-item *ngIf="fControls.location.invalid && this.isSubmitted"  lines="none">
        <p class="error-danger">Ingresar la localidad</p>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Correo Electronico</ion-label>
        <ion-input formControlName="email" type="text" class="bg-input" clearInput></ion-input>
      </ion-item>
      <ion-item *ngIf="fControls.email.invalid && this.isSubmitted" lines="none">
        <p class="error-danger">Ingresar correo electronico</p>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Descripcion</ion-label>
        <ion-textarea formControlName="description" type="text" class="bg-input"></ion-textarea>
      </ion-item>

    </ion-item-group>

    <ion-item-group>
      <ion-item-divider class="ion-margin-top">
        <ion-label>Fotos de las instalaciones</ion-label>
      </ion-item-divider>

      <ion-grid>
        <ion-row>
          <ng-container *ngFor="let img of imgsCameraWebFormat; index as position">
            <ion-col size="4">
              <ion-img src="{{img.path}}"></ion-img>
              <ion-button color="danger" class="over-img" size="small" (click)="deletePicture(position)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>

      <ion-item lines="none">
        <ion-button (click)="launchCameraService()">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
          Utilizar camara
        </ion-button>
        <ion-button (click)="launchPhotolibraryService()">
          <ion-icon slot="icon-only" name="images"></ion-icon>
          Utilizar galeria
        </ion-button>
      </ion-item>

      <ion-item *ngIf="isSubmitted && isImgs64FormattedEmpty()"  lines="none">
        <p class="error-danger">Se debe enviar al menos una foto</p>
      </ion-item>

    </ion-item-group>
    <ion-button class="ion-margin-horizontal ion-margin-top" type="submit" expand="block" color="primary">Enviar</ion-button>
  </form>
</ion-content>
