.--text-small{
  font-size: 16px;
}

.padding-vertical{
  padding-top: 10px;
  padding-bottom: 10px;
}

.sc-ion-card-ios-h{
  margin: 0;
  margin-bottom: 10px;
}

.--text-description{
  font-size: 14px;
}

.no-padding-top{
  padding-top: 0;
}

