<app-header [title]="pageTitle"></app-header>

<ion-content>

    <form [formGroup]="submitAsociation" (ngSubmit)="onSubmit(submitAsociation)">
        <ion-item-group>
            <ion-item-divider class="ion-margin-top">
                <ion-label>Informacion Asociacion</ion-label>
            </ion-item-divider>

            <ion-item>
                <ion-label position="stacked" color="primary">Nombre</ion-label>
                <ion-input formControlName="name" type="text" class="bg-input" clearInput></ion-input>
            </ion-item>
            <ion-item *ngIf="fControls.name.touched && fControls.name.invalid && this.isSubmitted" lines="none">
                <p class="error-danger">Ingresar nombre de la mascota</p>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" color="primary">Pais</ion-label>
                <ion-select (ionChange)="getRegionsByCountry($event)">
                    <ion-select-option [value]="country.id" *ngFor="let country of countries">{{country.name}}</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" color="primary">Region</ion-label>
                <ion-select formControlName="regionId">
                    <ion-select-option [value]="region.id" *ngFor="let region of regions">{{region.name}}</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" color="primary">Localidad</ion-label>
                <ion-input formControlName="location" type="text" class="bg-input" clearInput></ion-input>
            </ion-item>
            <ion-item *ngIf="isSubmitted && fControls.location.invalid"  lines="none">
                <p class="error-danger">Ingresar la localidad</p>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" color="primary">Correo Electronico</ion-label>
                <ion-input formControlName="email" type="text" class="bg-input" clearInput></ion-input>
            </ion-item>
            <ion-item *ngIf="fControls.email.touched && fControls.email.invalid" lines="none">
                <p [class.error-danger]="fControls.email.invalid">Please enter a valid email</p>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" color="primary">websiteUrl</ion-label>
                <ion-input formControlName="websiteUrl" type="text" class="bg-input" clearInput></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" color="primary">Tipo de asociacion</ion-label>
                <ion-select formControlName="associationTypeId">
                    <ion-select-option [value]="type.id" *ngFor="let type of typeAsociations">{{type.name}}</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" color="primary">Tipo de Envios</ion-label>
                <ion-select formControlName="shippingTypeId">
                    <ion-select-option [value]="type.id" *ngFor="let type of typeShippings">{{type.name}}</ion-select-option>
                </ion-select>
            </ion-item>

        </ion-item-group>

        <ion-item-group>
            <ion-item-divider class="ion-margin-top">
                <ion-label>Fotos de las instalaciones</ion-label>
            </ion-item-divider>

            <ion-grid>
                <ion-row>
                    <ng-container *ngFor="let img of imgsCameraWebFormat; index as position">
                        <ion-col size="4">
                            <ion-img src="{{img.path}}"></ion-img>
                            <ion-button color="danger" class="over-img" size="small" (click)="deletePicture(position)">
                                <ion-icon name="trash"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ng-container>
                </ion-row>
            </ion-grid>

            <ion-item lines="none">
                <ion-button (click)="launchCameraService()">
                    <ion-icon slot="icon-only" name="camera"></ion-icon>
                    Utilizar camara
                </ion-button>
                <ion-button (click)="launchPhotolibraryService()">
                    <ion-icon slot="icon-only" name="images"></ion-icon>
                    Utilizar galeria
                </ion-button>
            </ion-item>
        </ion-item-group>

        <ion-button class="ion-margin-horizontal ion-margin-top" type="submit" expand="block" color="primary" [disabled]="!this.submitAsociation.valid">Enviar</ion-button>
    </form>
</ion-content>
