<app-header [title]='pageTitle'></app-header>

<ion-toolbar>
    <ion-segment (ionChange)="loadContentBasedOnCategory($event)">
        <ng-container *ngFor="let category of categoriesPets; let i = index">
            <ion-segment-button value="{{category.id}}" [checked]="i === 0">
                <ion-label>{{category.name}}</ion-label>
            </ion-segment-button>
        </ng-container>
    </ion-segment>
</ion-toolbar>
<ion-content>
    <ion-card *ngFor='let pet of animals' [routerLink]="[pet.id]">

        <ion-card-header>
            <ion-card-title class="ion-margin-bottom">{{pet.name}}</ion-card-title>
            <ion-img class="ion-margin-bottom" src="{{pet.pictures[0].url}}"></ion-img>
            <ion-card-subtitle color="dark">{{pet.region.country.name}}</ion-card-subtitle>
            <ion-card-subtitle>{{pet.region.name}} - {{(2019 - (pet.birthDate | date:'y'))}} años</ion-card-subtitle>
            <ion-card-subtitle>Tipo: {{pet.type.name}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="ion-no-padding ion-padding-horizontal ion-margin-bottom">
            {{pet.description}}
        </ion-card-content>
    </ion-card>

    <ion-infinite-scroll threshold="20px" (ionInfinite)="loadMorePets()">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
