<app-header [title]="pageTitle"></app-header>


<ion-content>
    <ion-card>
        <ion-img src="https://loremflickr.com/320/240/dog"></ion-img>
        <ion-card-header>
            <ion-card-title>Bienvenido a WallaMascotas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Wallamascotas es una asociación sin ánimo de lucro que nace del sueño de concentrar en un mismo portal a todos
            los animales procedentes de asociaciones, protectoras y particulares que necesitan un hogar, una nueva
            oportunidad dándoles la máxima visibilidad y difusión a través de nuestro portal y redes sociales.
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title>© No compres, adopta</ion-title>
    </ion-toolbar>
</ion-footer>
