<app-header [title]="pageTitle"></app-header>

<ion-content>
  <ion-list lines="none" class="ion-margin-top">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
      <ion-item-group>
        <ion-item>
          <ion-label position="stacked" color="primary">Correo Electronico</ion-label>
          <ion-input formControlName="email" type="text" class="bg-input" clearInput></ion-input>
        </ion-item>
        <ion-item *ngIf="submitted && email.invalid" lines="none">
          <p class="ion-danger">Please enter a valid email</p>
        </ion-item>
        <ion-item >
          <ion-label position="stacked" color="primary">Contraseña</ion-label>
          <ion-input formControlName="password" type="password" class="bg-input"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button class="center-btn" type="submit" expand="block" color="success" size="default">Conectarse</ion-button>
        </ion-item>
      </ion-item-group>
    </form>
    <ion-item lines="none">
      <ion-button (click)="loginFB()" color="primary" class="center-btn">
        <ion-icon name="logo-facebook"></ion-icon>
        Login with Facebook
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>

