<app-header [title]="pageTitle"></app-header>

<ion-content>
  <form [formGroup]="submitPetForm" (ngSubmit)="onSubmit(submitPetForm)" #formPEt>
    <ion-item-group>
      <ion-item-divider class="ion-margin-top">
        <ion-label>Informacion Mascota</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label position="stacked" color="primary">Nombre</ion-label>
        <ion-input formControlName="name" type="text" class="bg-input" clearInput></ion-input>
      </ion-item>
      <ion-item *ngIf="fControls.name.invalid && isSubmitted"  lines="none">
        <p class="error-danger">Ingresar nombre de la mascota</p>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Tipo</ion-label>
        <ion-select formControlName="petTypeId">
          <ion-select-option [value]="type.id" *ngFor="let type of typeAnimals">{{type.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="isSubmitted && fControls.petTypeId.invalid"  lines="none">
        <p class="error-danger">Ingresar tipo de la mascota</p>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Categoria</ion-label>
        <ion-select formControlName="petCategoryId">
            <ion-select-option [value]="category.id" *ngFor="let category of petCategories">{{category.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="isSubmitted && fControls.petTypeId.invalid"  lines="none">
        <p class="error-danger">Ingresar tipo de la mascota</p>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Raza</ion-label>
        <ion-input formControlName="breed" type="text" class="bg-input" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Pais</ion-label>
        <ion-select (ionChange)="getRegionsByCountry($event)">
        <ion-select-option [value]="country.id" *ngFor="let country of countries">{{country.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Region</ion-label>
        <ion-select formControlName="regionId">
          <ion-select-option [value]="region.id" *ngFor="let region of regions">{{region.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Localidad</ion-label>
        <ion-input formControlName="location" type="text" class="bg-input" clearInput></ion-input>
      </ion-item>
      <ion-item *ngIf="isSubmitted && fControls.location.invalid"  lines="none">
        <p class="error-danger">Ingresar la localidad</p>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Sexo</ion-label>
        <ion-select formControlName="isFemale">
          <ion-select-option [value]="isFemale">Hembra</ion-select-option>
          <ion-select-option [value]="!isFemale">Macho</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Fecha de Nacimiento</ion-label>
        <ion-datetime formControlName="birthDate" placeholder="dd/mm/yyyy" display-format="DD/MM/YYYY" picker-format="DD MMMM YYYY"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="isSubmitted && fControls.birthDate.invalid"  lines="none">
        <p class="error-danger">Ingresar la fecha de nacimiento</p>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Tamaño</ion-label>
        <ion-select formControlName="petSizeId">
          <ion-select-option [value]="size.id" *ngFor="let size of sizesPets">{{size.name}}</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label position="stacked" color="primary">Descripcion</ion-label>
        <ion-textarea formControlName="description" type="text" class="bg-input"></ion-textarea>
      </ion-item>
      <ion-item *ngIf="isSubmitted && fControls.description.invalid"  lines="none">
        <p class="error-danger">Ingresar pequeña descripcion</p>
      </ion-item>

    </ion-item-group>

    <ion-item-group>
      <ion-item-divider class="ion-margin-top">
        <ion-label>Informacion Extra</ion-label>
      </ion-item-divider>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Vacunado</ion-label>
              <ion-checkbox formControlName="isVaccinated" [(ngModel)]="isVaccinated"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Chip</ion-label>
              <ion-checkbox formControlName="hasChip" [(ngModel)]="hasChip"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Leucemia</ion-label>
              <ion-checkbox formControlName="isPositiveInLeukemia" [(ngModel)]="isPositiveInLeukemia"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Leishmania</ion-label>
              <ion-checkbox formControlName="isPositiveInLeismania" [(ngModel)]="isPositiveInLeismania"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Licensia PPP</ion-label>
              <ion-checkbox formControlName="hasPppLicense" [(ngModel)]="hasPppLicense"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Esterilizado</ion-label>
              <ion-checkbox formControlName="isSterilized" [(ngModel)]="isSterilized"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>En tratamiento</ion-label>
              <ion-checkbox formControlName="isInTreatment" [(ngModel)]="isInTreatment"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Inmunodeficiencia Felina</ion-label>
              <ion-checkbox formControlName="isPositiveInFelineImmunodeficiency" [(ngModel)]="isPositiveInFelineImmunodeficiency"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider class="ion-margin-top">
        <ion-label>Subir photos</ion-label>
      </ion-item-divider>


      <ion-grid>
        <ion-row>
          <ng-container *ngFor="let img of imagesFromPhone">
            <ion-col size="4">
              <ion-img src="{{img.path}}"></ion-img>
              <ion-label>{{img.name}}</ion-label>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>

      <ion-item lines="none">
        <ion-button (click)="launchCameraService()">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
          Subir foto
        </ion-button>
      </ion-item>
    </ion-item-group>

    <ion-button class="ion-margin-horizontal ion-margin-top" type="submit" expand="block" color="primary">Enviar</ion-button>
<!--    <ion-button class="ion-margin-horizontal ion-margin-top" type="submit" expand="block" color="primary">Enviar</ion-button>-->
  </form>
</ion-content>
